@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{

    height: 100vh;
    width: 100vw;
    background-color: black;
   
}

header{
    
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    
   

    border-radius: 10px;
    padding: 15px;

    height: 300px;

    max-width: 950px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    
}

header p{
    text-shadow: 1px 1px 1px rgba(255, 235, 205, 0.527);
    font-size: 1.5em;
}


main{
    width: 100%;
    
    display: inline-flex;
    
    justify-content: center;
    align-items:center ;
    flex-wrap: wrap-reverse;




    position: relative;
    
    
}




section#cinema{
    position: relative;
    
    
    

    border-radius: 25%;

    box-shadow: inset 0px 0px 8px 10px rgba(0, 0, 0, 0.89);

    
    width: 900px;
    

    
    height: 618px;
    background: url('../imagem/cinema2.png') no-repeat center center;
    background-size: cover;



    

}

section#serviços{
   
    position: relative;
    height: 500px;
    width: 70px;

    
}


iframe#tela{
    position: absolute;
    top: 18%;
    left: 28%;
    width: 46%;
    height: 236px;
   

    box-shadow: 0px -4px 18px 25px rgb(0, 0, 0);

    
    
}


section#serviços img {
    width: 60px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
    box-sizing: border-box;

}

section#serviços img:hover{
    border: 2px solid white;
    transform: translate(-4px, -4px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.603);
    transition: .3s , border 0.5s;
}




    footer{
    
        color: white;
        text-align: center;
        position: relative;
        padding-top: 15px;
        margin: 10px;
        
        
    }


    @media (max-width:970px){
        section#serviços{
            width: 900px;
            height: 60px;
            text-align: center;
            
        }
        section#serviços img{
            width: 55px;

           
        }
        section#cinema{
            width: 700px;

    }

}
@media (max-width:970px) {
    iframe#tela{
        
        left: 21%;
        width: 60%;
        
}
}
    

    @media (max-width:700px) {
        iframe#tela{
            left:13%;
            width: 77%;
            
            
    }

    section#cinema{
        width: 550px;

}

    }
    @media (max-width:550px) {
        iframe#tela{
            width: 87%;
            left:8%;
            
    }
    section#cinema{
        width: 480px;

}

    }

    @media (max-width:480px){

        iframe#tela{
            width: 91%;
            left:5%;
        }

        section#serviços img{
            width: 35px;
        }
        section#cinema{
            width: 420px;
    
    }
        
    }
    @media (max-width:420px){

        iframe#tela{
            width: 91%;
            left:5%;
        }

       
        section#cinema{
            width: 380px;
    
    }
        
    }
    


    @media (max-width:360px) {
        iframe#tela{
            width: 320px;
            left:5%;
         
        }

        section#serviços img{
            width: 25px;
        }
    }
    